* {
  max-width: 100%;
  margin: auto;
  text-align: center;
  background-color: white;
  color: rgb(13, 39, 3);
}

.title {
  margin: 20px;
}

.root {
  height: auto;
  margin: 0px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.image {
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  float: left;
  width: 60vh;
  margin: auto;
  cursor: pointer;
}

.image-wrapper p {
  position: relative;
  padding: 5px;
  background-color: rgba(0, 200, 255, 0.437);
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  z-index: 2;
  font-size: 12px;
  margin: 0;
  padding: 5px;
}

.highlight {
  background: rgba(72, 255, 0, 0.182);
  border: 1px dashed #fff;
  border-radius: 7px;
  z-index: 1;
  position: absolute;
}

.image-wrapper {
  z-index: 0;
}

.input-image {
  border-radius: 7px;
}

.img-form {
  margin-bottom: 50px;
}
/* .image-wrapper img {
  width: 100%;
} */

.predict-btn {
  margin: 20px;
}

.credit {
  margin: 50px, auto;
}
